/* Fuente */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Variables globales, determinamos variables para usar el color */
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body {
    margin: 0;
}

/* centrar y fuente */
.centrarBody {
    /* background-color: red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

/* Contenedor pasos y botones */
.contenedorPrincipal {
    /* background-color: aqua; */
    text-align: center;
}

/* Contenedor pasos */
.contenedorProgreso {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    max-width: 100%;
    width: 400px;
}

/* Creamos linea (une los pasos)*/
.contenedorProgreso::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

/* Creamos linea de progreso (muestra el progreso)*/
.progreso{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

/* Creamos circulos de los numeros */
.paso{
    background-color: #e0e0e0;
    color: #1f1f1f;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

/* Circulo activo o paso activo */
.paso.activo{
    border-color: var(--line-border-fill);
}

/* BOTONES */
.btn{
    background-color: var(--line-border-fill);
    color: #ffff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80px;
    margin: 5px;
}
    /* boton se encoje un poco para efecto de retorno */
.btn:active{
    transform: scale(0.98);
}
    /*  */
.btn:focus{
    outline: 0;
}
    /* comportamiento boton deshabilitado */
.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}